@import url('https://fonts.googleapis.com/css2?familia = Poppins: wght @ 300; 400; 500; 600; 700 & display = swap ');

cuerpo {
    font-family: 'Poppins', sans-serif;
    margen: 0;
    acolchado: 0;
    color de fondo: # 000 ;
    color: #fff ;
}

cabezazo {
    color de fondo: # 111 ;
    texto-alinear: centro;
    acolchado: 10)))px 0;
    fondo del borde: 2px sólido #fff ;
}

. .header-content {
    tamaño fuente: 1.5rem;
}

. .contenido {
    mostrar: rejilla;
    cuadrícula-plantilla-columnas: repetir(Autocompletar, minmax(150px, 1fr));
    brecha: 10)))px;
    acolchado: 20))))px;
}

. .subject-box {
    color de fondo: # 111 ;
    frontera: 1px sólido #fff ;
    acolchado: 20))))px;
    texto-alinear: centro;
    tamaño fuente: 1.2rem;
    animación: desvanecerse 1s ambos; / * Animación "fadeIn" de 1 segundo * /
}

@keyframes desvanecerse {
    desde {
        opacidad: 0;
        transformarar: translateY(20))))px);
    }
    a {
        opacidad: 1;
        transformarar: translateY(0);
    }
}

. .subject-box :flotar {
    transformar: escala(1.05);
}
